# ---- Aplicacion ----
APP_NAME=ms-incidencias
# Puerto DENTRO del contenedor
PORT=3003
# Puerto publicado en la VM de produccion (rango asignado por el curso: 9000-12000)
PUBLISHED_PORT=9003
NODE_ENV=development
LOG_LEVEL=info

# ---- Base de datos MongoDB ----
MONGO_HOST=Reemplazar
MONGO_PORT=27017
MONGO_DB=condominio_incidencias
MONGO_USER=incidencias_admin
MONGO_PASSWORD=CAMBIAR_POR_PASSWORD

# Cadena de conexion completa (opcional)
MONGO_URI=mongodb://HOST:27017/condominio_incidencias
